<div class="evidence-hub__programme_delivery">
  <h5 class="sidepanel__subtitle">
    <%= evidence_summary.programme_delivery_field_name %>
  </h5>
  <%= evidence_summary.stripped_programme_delivery %>
</div>
