<% hero_colour = '' if local_assigns[:hero_colour].nil? %>
<div class="hero <%= hero_colour %>" style="background-image: url(<%= img_src %>);">
  <div class="hero__heading"><%= description.html_safe %></div>
</div>
  