---
http_interactions:
- request:
    method: post
    uri: https://vtpmj8yrfy-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cb%3E\u0026highlightPostTag=%3C%2Fb%3E\u0026page=\u0026hitsPerPage=10\u0026query=young"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"title":"Young Adults","description":null,"keywords":[],"content":"<p>Young
        adults are those who have left compulsory education or other statutory settings,
        \nsuch as care. They are transitioning towards independent living and financial
        \nindependence, beginning between the ages of 16 to 18 and continuing to their
        mid-20s.</p>\n","published_at":null,"objectID":"/en/lifestages/young-adults","_highlightResult":{"title":{"value":"<b>Young</b>
        Adults","matchLevel":"full","fullyHighlighted":false,"matchedWords":["young"]},"content":{"value":"<p><b>Young</b>
        adults are those who have left compulsory education or other statutory settings,
        \nsuch as care. They are transitioning towards independent living and financial
        \nindependence, beginning between the ages of 16 to 18 and continuing to their
        mid-20s.</p>\n","matchLevel":"full","fullyHighlighted":false,"matchedWords":["young"]}}},{"title":"Young
        Persons’ Money Index 2016: Examining the financial educational landscape for
        teenagers and young people","description":null,"keywords":[],"content":"<ol><li><a
        href=\"#context\">Context</a></li><li><a href=\"#the-study\">The study</a></li><li><a
        href=\"#key-findings\">Key findings</a></li><li><a href=\"#points\">Points
        to consider</a></li></ol><h2 id=\"context\">Context</h2><p>This is an annual
        survey that began in 2014, when financial education was introduced into the
        National Curriculum. The 2016 report pays particular attention to: the introduction
        of new education policies pre- and post-16 level, the Money Advice Service’s
        new Financial Capability Strategy (2015), and recommendations of the All-Party
        Parliamentary Group (APPG) on Financial Education for Young People in their
        report ‘Financial Education in Schools: Two Years On – Job Done?’ (2016).</p><h2
        id=\"the-study\">The study</h2><p>An online UK-wide survey of 2,036 young
        people aged 15-18 in full-time education. The sample was weighted to be representative
        of age, gender, regional make-up and education. The report focuses on: </p><ul><li>The
        current state of financial education and its delivery in schools and colleges
        in the 2015/16 academic year;</li><li>Young people’s financial confidence
        and behaviours, and;</li><li>The relevance of findings to the APPG’s recommendations
        on improving financial capability.</li></ul><p>As well as linking the findings
        to APPG and MAS initiatives, the survey seeks to better appreciate young people’s
        attitudes and behaviour.</p><h2 id=\"key-findings\">Key findings</h2><ul><li><strong>Financial
        education:</strong> Most students (58 per cent) did not receive any form of
        financial education – indicating little improvement from previous surveys.
        Fewer girls (36 per cent) than boys (45 per cent) received financial education,
        and those aged 17-18 were less likely to than those aged 15-16. Economics,
        PSHE, Maths and Citizenship are the main subjects for the delivery of financial
        education, but more students are learning financial education through Maths
        [...]
