---
http_interactions:
- request:
    method: post
    uri: https://f3tip4p8lj-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cb%3E\u0026highlightPostTag=%3C%2Fb%3E\u0026page=1\u0026hitsPerPage=10\u0026query=lifestage"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"title":"Older People in Retirement","description":null,"keywords":[],"content":"<p>This
        is an example paragraph containing information about a specific lifestage.</p>\n","published_at":null,"objectID":"/en/lifestages/older_people_in_retirement","_highlightResult":{"title":{"value":"Older
        People in Retirement","matchLevel":"none","matchedWords":[]},"content":{"value":"<p>This
        is an example paragraph containing information about a specific <b>lifestage.</b></p>\n","matchLevel":"full","fullyHighlighted":false,"matchedWords":["lifestage"]}}},{"title":"Children
        and Young People","description":null,"keywords":[],"content":"<p>This is an
        example paragraph containing information about a specific lifestage.</p>\n","published_at":null,"objectID":"/en/lifestages/children_and_young_people","_highlightResult":{"title":{"value":"Children
        and Young People","matchLevel":"none","matchedWords":[]},"content":{"value":"<p>This
        is an example paragraph containing information about a specific <b>lifestage.</b></p>\n","matchLevel":"full","fullyHighlighted":false,"matchedWords":["lifestage"]}}}],"nbHits":12,"page":1,"nbPages":2,"hitsPerPage":10,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"lifestage","params":"highlightPreTag=%3Cb%3E&highlightPostTag=%3C%2Fb%3E&page=1&hitsPerPage=10&query=lifestage"}

'
  recorded_at: Tue, 28 Aug 2018 10:31:29 GMT
recorded_with: VCR 4.0.0
