---
http_interactions:
- request:
    method: post
    uri: https://f3tip4p8lj-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cb%3E\u0026highlightPostTag=%3C%2Fb%3E\u0026page=\u0026hitsPerPage=10\u0026query=information"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"title":"Young Adults","description":null,"keywords":[],"content":"<p>This
        is an example paragraph containing information about a specific lifestage.</p>\n","published_at":null,"objectID":"/en/lifestages/young_adults","_highlightResult":{"title":{"value":"Young
        Adults","matchLevel":"none","matchedWords":[]},"content":{"value":"<p>This
        is an example paragraph containing <b>information</b> about a specific lifestage.</p>\n","matchLevel":"full","fullyHighlighted":false,"matchedWords":["information"]}}},{"title":"Working
        Age Adults","description":null,"keywords":[],"content":"<p>This is an example
        paragraph containing information about a specific lifestage.</p>\n","published_at":null,"objectID":"/en/lifestages/working_age_adults","_highlightResult":{"title":{"value":"Working
        Age Adults","matchLevel":"none","matchedWords":[]},"content":{"value":"<p>This
        is an example paragraph containing <b>information</b> about a specific l[...]
