---
http_interactions:
- request:
    method: post
    uri: https://f3tip4p8lj-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cb%3E\u0026highlightPostTag=%3C%2Fb%3E\u0026page=\u0026hitsPerPage=10\u0026query=well-being"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"title":"Financial well-being: the employee view","description":null,"keywords":[],"content":"<p>Context</p>\n\n<p>The
        survey explores employees’ views on attitudes to finances.\nStress caused
        by pay levels, lack of financial awareness or absence of\nemployee benefits
        can affect work performance.\nIn addition, the perception that their contributions
        are not being\nacknowledged can have an impact on employee self-esteem, health
        and\nproductivity.</p>\n","published_at":null,"objectID":"/en/insights/financial-well-being-the-employee-view","_highlightResult":{"title":{"value":"Financial
        <b>well-being</b>: the employee view","matchLevel":"full","fullyHighlighted":false,"matchedWords":["well","being"]},"content":{"value":"<p>Context</p>\n\n<p>The
        survey explores employees’ views on attitudes to finances.\nStress caused
        by pay levels, lack of financial awareness or absence of\nemployee benefits
        can affect work performance.\nIn addition, the perception that their contributions
        are not being\nacknowledged can have an impact on employee self-esteem, health
        and\nproductivity.</p>\n","matchLevel":"none","matchedWords":[]}}},{"title":"Financia[...]
