# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

#Ignore test db
db/test.sqlite3

# Ignore Byebug command history file.
.byebug_history

*.DS_Store
.env
bower.json
bower_components
node_modules
.rubocop-*

# Ignore webstorm preferences
.idea/
