.lifestage-info-group {
  @include column(12);
  @extend %clearfix;
  padding: $baseline-unit * 2 0;
  background-color: $color-blue-lighter;
}

.lifestage_info-box {
  @include column(12);
  margin-bottom: $baseline-unit * 2;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include respond-to($mq-s) {
    @include column(6);
    margin-bottom: 0;

    .object-fit & {
      display: flex;
      flex-direction: column;
    }
  }
}

.lifestage_info-box__title {
  margin: $baseline-unit * 2 $baseline-unit $baseline-unit;
  font-size: px(24);
}

.lifestage_info-box__content {
  @include body(14, 22);
  margin: 0 $baseline-unit $baseline-unit * 2;

  .object-fit & {
    flex: 1 0 auto;
    flex-direction: column;
  }
}
