<li class="search-results__item" data-dough-search-results-itemd>
  <h2 class="search-results__heading">
    <%= link_to search_result.title.html_safe, search_result.link %>
  </h2>
  <p><%= search_result.description.html_safe %></p>
</li>
