<div class="bordered-box bordered-box--green t-strategy-box">
  <div class="bordered-box__inner">
    <h3 class="bordered-box__title"><%= title %></h3>
    <p class="bordered-box__content"><%= overview %></p>
    <%= links %>
  </div>
</div>
