<h1>Bordered box</h1>
<p>There are 2 variants of the bordered box.  They usually appear side by side, example below:</p>
<h3 class="styleguide__subheading">Default box</h3>
<div class="styleguide__example">
  <div class="bordered-box">
    <div class="bordered-box__inner">
      <h3 class="bordered-box__title">Title</h3>
      <p class="bordered-box__content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor velit quis nulla ullamcorper, in pellentesque felis faucibus. Vestibulum hendrerit, urna sit amet ullamcorper ultrices, quam sapien auctor sem, nec cursus nibh magna vitae elit. Fusce in tempus turpis, at varius est. 
      </p>
    </div>
  </div>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <div class="bordered-box">
    <div class="bordered-box__inner">
      <h3 class="bordered-box__title">Title</h3>
      <p class="bordered-box__content">
        Content
      </p>
    </div>
  </div>
</xmp>
<h3 class="styleguide__subheading">Green variant</h3>
<div class="styleguide__example">
  <div class="bordered-box bordered-box--green">
    <div class="bordered-box__inner">
      <h3 class="bordered-box__title">Title</h3>
      <p class="bordered-box__content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor velit quis nulla ullamcorper, in pellentesque felis faucibus. Vestibulum hendrerit, urna sit amet ullamcorper ultrices, quam sapien auctor sem, nec cursus nibh magna vitae elit. Fusce in tempus turpis, at varius est. 
      </p>
    </div>
  </div>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <div class="bordered-box bordered-box--green">
    <div class="bordered-box__inner">
      <h3 class="bordered-box__title">Title</h3>
      <p class="bordered-box__content">
        Content
      </p>
    </div>
  </div>
</xmp>
<h3 class="styleguide__subheading">Side-by-side</h3>
<div class="styleguide__example">
  <div class="bordered-box__group">
    <div class="bordered-box">
      <div class="bordered-box__inner">
        <h3 class="bordered-box__title">Title</h3>
        <p class="bordered-box__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor velit quis nulla ullamcorper, in pellentesque felis faucibus. Vestibulum hendrerit, urna sit amet ullamcorper ultrices, quam sapien auctor sem, nec cursus nibh magna vitae elit. Fusce in tempus turpis, at varius est. 
        </p>
      </div>
    </div>
    <div class="bordered-box bordered-box--green">
      <div class="bordered-box__inner">
        <h3 class="bordered-box__title">Title</h3>
        <p class="bordered-box__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor velit quis nulla ullamcorper, in pellentesque felis faucibus. Vestibulum hendrerit, urna sit amet ullamcorper ultrices, quam sapien auctor sem, nec cursus nibh magna vitae elit. Fusce in tempus turpis, at varius est.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor velit quis nulla ullamcorper, in pellentesque felis faucibus. Vestibulum hendrerit, urna sit amet ullamcorper ultrices, quam sapien auctor sem, nec cursus nibh magna vitae elit. Fusce in tempus turpis, at varius est. 
        </p>
      </div>
    </div>
  </div>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <div class="bordered-box__group">
    <div class="bordered-box bordered-box">
      <div class="bordered-box__inner">
        <h3 class="bordered-box__title">Title</h3>
        <p class="bordered-box__content">
          Content
        </p>
      </div>
    </div>
    <div class="bordered-box bordered-box--green">
      <div class="bordered-box__inner">
        <h3 class="bordered-box__title">Title</h3>
        <p class="bordered-box__content">
          Content
        </p>
      </div>
    </div>
  </div>
</xmp>
