<h1>Buttons</h1>
<h3 class="styleguide__subheading">Primary button</h3>
<div class="styleguide__example">
  <a href="#" class="btn btn--primary">Primary Button</a>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <a href="#" class="btn btn--primary">Primary Button</a>
</xmp>
