<h1>UI Components</h1>
<h2>Coloured Box</h2>
<p>A solid colour box with heading and content</p>
<h3 class="styleguide__subheading">Default Coloured Box</h3>
<div class="styleguide__example">
  <div class="coloured-box">
    <h2 class="coloured-box__title">Title</h2>
    <ul class="list list--links coloured-box__list">
      <li><a href="#">List item 1</a></li>
      <li><a href="#">List item 2</a></li>
      <li><a href="#">List item 3</a></li>
      <li><a href="#">List item 4</a></li>
    </ul>
  </div>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <div class="coloured-box">
    <h2 class="coloured-box__title">Title</h2>
    <ul class="list list--links coloured-box__list">
      <li><a href="#">List item 1</a></li>
      <li><a href="#">List item 2</a></li>
      <li><a href="#">List item 3</a></li>
      <li><a href="#">List item 4</a></li>
    </ul>
  </div>
</xmp>
