<h1>Colours</h1>
<h2>Primary Colours</h2>
<ul class="styleguide__palette">
  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--primary-yellow"></div>
    <p class="styleguide__palette-item__sample-description">
      $primary-yellow (#FFCC00)
    </p>
  </li>
  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--primary-orange"></div>
    <p class="styleguide__palette-item__sample-description">
      $primary-orange (#EF7E25)
    </p>
  </li>
  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--primary-blue"></div>
    <p class="styleguide__palette-item__sample-description">
      $primary-blue (#0066CC)
    </p>
  </li>
  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--primary-blue-dark"></div>
    <p class="styleguide__palette-item__sample-description">
      $primary-blue-dark (#003399)
    </p>
  </li>
  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--primary-green-pale"></div>
    <p class="styleguide__palette-item__sample-description">
      $primary-green- (#51B9AF)
    </p>
  </li>
  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--primary-purple"></div>
    <p class="styleguide__palette-item__sample-description">
      $primary-purple (#663399)
    </p>
  </li>
</ul>

<h2>Secondary / Supporting Colours</h2>
<ul class="styleguide__palette">
  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--color-blue"></div>
    <p class="styleguide__palette-item__sample-description">
      $color-blue (#41A0DA)
    </p>
  </li>

  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--color-red"></div>
    <p class="styleguide__palette-item__sample-description">
      $color-red (#C92628)
    </p>
  </li>

  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--color-red-pale"></div>
    <p class="styleguide__palette-item__sample-description">
      $color-red-pale (#E95E50)
    </p>
  </li>

  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--color-green-dark"></div>
    <p class="styleguide__palette-item__sample-description">
      $color-green-dark (#008996)
    </p>
  </li>

  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--color-green-lime"></div>
    <p class="styleguide__palette-item__sample-description">
      $color-green-lime (#8CC635)
    </p>
  </li>
</ul>

<h2>Black and White</h2>
<ul class="styleguide__palette">
  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--color-black"></div>
    <p class="styleguide__palette-item__sample-description">
      $color-black (#1D1D1B)
    </p>
  </li>
  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--color-white"></div>
    <p class="styleguide__palette-item__sample-description">
      $color-white (#FFFFFF)
    </p>
  </li>
</ul>

<h2>Greys</h2>
<ul class="styleguide__palette">
  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--grey-light"></div>
    <p class="styleguide__palette-item__sample-description">
      $grey-light (#DADADA)
    </p>
  </li>
  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--grey-lighter"></div>
    <p class="styleguide__palette-item__sample-description">
      $grey-lighter (#EBE9E9)
    </p>
  </li>
  <li class="styleguide__palette-item">
    <div class="styleguide__palette-item__sample styleguide__palette-item__sample--grey-lightest"></div>
    <p class="styleguide__palette-item__sample-description">
      $grey-lightest (#F1F1F1)
    </p>
  </li>
</ul>