<h1>UI Components</h1>
<h2>Feedback box</h2>
<p>Developer notes: This component uses a partial view for the title and email address which expects values.</p>
<p>To render in the view, call the partial from "shared/feedback.html.erb" and include the values:</p>
<p>
  &lt;%= <strong>render</strong> 'shared/feedback', <strong>title:</strong> 'Feedback title', <strong>email:</strong> 'target@email' %>
</p>
<h3 class="styleguide__subheading">Default Feedback box</h3>
<div class="styleguide__example">
  <%= render 'shared/feedback',
      title: 'Give us your feedback or ask a question',
      email: 'whatworks@fincap.org.uk' %>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <%= render 'shared/feedback',
      title: 'Give us your feedback or ask a question',
      email: 'whatworks@fincap.org.uk' %>
</xmp>
