<h1>UI Components</h1>
<h2>Feedback box</h2>
<h3 class="styleguide__subheading">Default Feedback box</h3>
<div class="styleguide__example">
  <div class="feedback-box">
    <h3 class="feedback-box__title">
      Give us your feedback or ask a question
    </h3>
    <svg xmlns="http://www.w3.org/2000/svg" class="feedback-box__icon svg-icon svg-icon--speech" focusable="false">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--speech"></use>
    </svg>
    <a href="mailto:whatworks@fincap.org.uk" class="feedback-box__text">
      whatworks@fincap.org.uk
    </a>
  </div>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  
</xmp>
