<h1>Forms</h1>
<h2>Text fields</h2>
<h3 class="styleguide__subheading">Text input</h3>
<div class="styleguide__example">
  <p>Default input (no border), when the input is placed on a solid colour background.</p>
  <div class="sidepanel">
    <input type="text" placeholder="Text input field" />
  </div>
  <p>Default input (with border), when the input is placed on a white background.</p>
  <input type="text" placeholder="Text input field" class="include-border" />
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <input type="text" placeholder="Text input field" />
  <input type="text" placeholder="Text input field" class="include-border" />
</xmp>
<h2>Checkboxes</h2>
<h3 class="styleguide__subheading">Default checkbox</h3>
<div class="styleguide__example">
  <label class="checkbox-label">
    <input type="checkbox"> Checkbox Label
  </label>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <label class="checkbox-label">
    <input type="checkbox"> Checkbox Label
  </label>
</xmp>
<h2>Radio options</h2>
<div class="styleguide__example">
  <div class="radio-option">
    <input type="radio" id="sample_radio_button" name="group_name" value="label_value">
    <label for="sample_radio_button">Radio option</label>
  </div>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <div class="radio-option">
    <input type="radio" id="sample_radio_button" name="group_name" value="label_value">
    <label for="sample_radio_button">Radio option</label>
  </div>
</xmp>
