<h1>UI Components</h1>
<h2>Hero section</h2>
<h3 class="styleguide__subheading">Default title</h2>
<div class="styleguide__example">
  <div class="hero styleguide__hero">
    <h1 class="hero__heading">
      Main heading of the page
    </h1>
  </div>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <div class="hero">
    <h1 class="hero__heading">
      Main heading of the page
    </h1>
  </div>
</xmp>
<h3 class="styleguide__subheading">Title contains highlighted content</h2>
<div class="styleguide__example">
  <div class="hero styleguide__hero">
    <h1 class="hero__heading">
      This heading <span class="hero__heading-strong">contains some bold copy</span>
    </h1>
  </div>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <div class="hero">
    <h1 class="hero__heading">
      This heading 
      <span class="hero__heading-strong">contains some bold copy</span>
    </h1>
  </div>
</xmp>
