<h1>Styleguide</h1>

<p>The styleguide is a resource for developers, product managers and designers.  Providing a common language around FinCap UI patterns.  Use this to maintain modular front-end code and visual consistency across the website.</p>
