<h1>UI Components</h1>
<h2>Info Icon</h2>
<p>This component is designed to be a link to a further page containing further information.</p>

<h3 class="styleguide__subheading">Info Icon</h3>
<div class="styleguide__example">
  <a href="#" class="icon--info">i</a>
</div>

<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <a href="#" class="icon--info">i</a>
</xmp>
