<h1>Large Call to Action</h1>
<h3 class="styleguide__subheading">Document icon</h3>
<div class="styleguide__example">
  <a href="www.fincap.org.uk" class="large-cta">
    <svg xmlns="http://www.w3.org/2000/svg" class="large-cta__icon svg-icon svg-icon--document" focusable="false">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--document"></use>
    </svg>
    <span class="large-cta__text">Research</span>
  </a>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <a href="www.fincap.org.uk" class="large-cta">
    <svg xmlns="http://www.w3.org/2000/svg" class="large-cta__icon svg-icon svg-icon--document" focusable="false">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--document"></use>
    </svg>
    <span class="large-cta__text">Research</span>
  </a>
</xmp>
<h3 class="styleguide__subheading">Money Management icon</h3>
<div class="styleguide__example">
  <a href="http://www.fincap.org.uk" class="large-cta">
    <svg xmlns="http://www.w3.org/2000/svg" class="large-cta__icon svg-icon svg-icon--money" focusable="false">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--money"></use>
    </svg>
    <span class="large-cta__text">Money Management</span>
  </a>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <a href="http://www.fincap.org.uk" class="large-cta">
    <svg xmlns="http://www.w3.org/2000/svg" class="large-cta__icon svg-icon svg-icon--money" focusable="false">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--money"></use>
    </svg>
    <span class="large-cta__text">Money Management</span>
  </a>
</xmp>
<h3 class="styleguide__subheading">External link</h3>
<div class="styleguide__example">
  <a href="http://www.moneyadviceservice.org.uk" class="large-cta">
    <svg xmlns="http://www.w3.org/2000/svg" class="large-cta__icon svg-icon svg-icon--money" focusable="false">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--money"></use>
    </svg>
    <span class="large-cta__text">External link</span>
  </a>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <a href="http://www.moneyadviceservice.org.uk" class="large-cta">
    <svg xmlns="http://www.w3.org/2000/svg" class="large-cta__icon svg-icon svg-icon--money" focusable="false">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--money"></use>
    </svg>
    <span class="large-cta__text">External link</span>
  </a>
</xmp>
