<h1>UI Components</h1>
<h2>Latest News</h2>
<h3 class="styleguide__subheading">Default news list</h3>
<div class="styleguide__example">
  <div class="latest-news">
    <div class="latest-news__inner">
      <h3 class="latest-news__title">Latest News</h3>
      <svg xmlns="http://www.w3.org/2000/svg" class="latest-news__icon svg-icon svg-icon--latest-news" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--latest-news"></use>
      </svg>
      <ul class="latest-news__list">
        <li class="latest-news__list-item">
          <p class="latest-news__list-item__date">2 November 2017</p>
          <p class="latest-news__list-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a felis arcu.
          </p>
          <a href="http://www.fincap.org.uk" class="latest-news__list-item__cta">Read more</a>
        </li>

        <li class="latest-news__list-item">
          <p class="latest-news__list-item__date">2 November 2017</p>
          <p class="latest-news__list-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a felis arcu.
          </p>
          <a href="http://www.fincap.org.uk" class="latest-news__list-item__cta">Read more</a>
        </li>
        <li class="latest-news__list-item">
          <p class="latest-news__list-item__date">2 November 2017</p>
          <p class="latest-news__list-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a felis arcu.
          </p>
          <a href="http://www.fincap.org.uk" class="latest-news__list-item__cta">Read more</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <div class="latest-news">
    <div class="latest-news__inner">
      <h3 class="latest-news__title">Latest News</h3>
      <svg xmlns="http://www.w3.org/2000/svg" class="latest-news__icon svg-icon svg-icon--latest-news" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--latest-news"></use>
      </svg>
      <ul class="latest-news__list">
        <li class="latest-news__list-item">
          <p class="latest-news__list-item__date">2 November 2017</p>
          <p class="latest-news__list-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a felis arcu.
          </p>
          <a href="http://www.fincap.org.uk" class="latest-news__list-item__cta">Read more</a>
        </li>
      </ul>
    </div>
  </div>
</xmp>
