<h1>UI Components</h1>
<h2>Life stages</h2>
<p>This component is made up of the following 2 sub-components:</p>
<ul class="styleguide__list">
  <li class="styleguide__list-item">
    <a href="/styleguide/lists#link-list" target="_blank">Link list</a>
  </li>
  <li class="styleguide__list-item">
    <a href="/styleguide/borderedbox" target="_blank">Bordered box</a>
  </li>
</ul>
<p>Use the following ruby code to render this component:</p>
<p>
  &lt;%= <strong>render</strong> 'shared/life_stages' %>
</p>
<h3 class="styleguide__subheading">Default component</h3>
<div class="styleguide__example">
  <%= render 'shared/life_stages' %>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <%= render 'shared/life_stages' %>
</xmp>
