<h1>Links</h1>

<h2>Default links</h2>

<h3>Not visited</h3>
<a href="http://www.fincap.org.uk/">Link 1</a>

<h3>Hover</h3>
<a href="http://www.fincap.org.uk/" class="styleguide__link--hover">Link 2</a>

<h3>Focus</h3>
<a href="http://www.fincap.org.uk/" class="styleguide__link--focus">Link 3</a>

<h3>Visited</h3>
<a href="http://www.fincap.org.uk/" class="styleguide__link--visited">Link 4</a>

<h2>External Links</h2>
<p>Icon is automatically added when target URL is not *.fincap.org.uk</p>
<h3 class="styleguide__subheading">Example</h3>
<div class="styleguide__example">
  <a href="http://www.google.com">External link / Opens in a new window</a>
</div>

<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <a href="http://www.google.com">External link / Opens in a new window</a>
</xmp>
