<h1>Lists</h1>
<h2>List variants</h2>
<ul class="styleguide__list">
  <li class="styleguide__list-item">
    <a href="#default-list">Default List</a>
  </li>
  <li class="styleguide__list-item">
    <a href="#link-list">Link List</a>
  </li>
  <li class="styleguide__list-item">
    <a href="#grouped-cta-list">Grouped CTA List</a>
  </li>
  <li class="styleguide__list-item">
    <a href="#numbered-list">Numbered List</a>
  </li>
  <li class="styleguide__list-item">
    <a href="#countries-list">Countries List</a>
  </li>
</ul>
<h3 class="styleguide__subheading" id="default-list">Default list</h2>
<div class="styleguide__example">
  <ul class="list">
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
    <li>List item 4</li>
  </ul>
</div>

<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <ul class="list">
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
    <li>List item 4</li>
  </ul>
</xmp>

<h3 class="styleguide__subheading" id="link-list">Link list</h2>
<div class="styleguide__example">
  <ul class="list list--links">
    <li><a href="http://www.fincap.org.uk/">List item 1</a></li>
    <li><a href="http://www.fincap.org.uk/">List item 2</a></li>
    <li><a href="http://www.fincap.org.uk/">List item 3</a></li>
    <li><a href="http://www.fincap.org.uk/">List item 4</a></li>
  </ul>
</div>

<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <ul class="list list--links">
    <li><a href="#">List item 1</a></li>
    <li><a href="#">List item 2</a></li>
    <li><a href="#">List item 3</a></li>
    <li><a href="#">List item 4</a></li>
  </ul>
</xmp>

<h3 class="styleguide__subheading" id="grouped-cta-list">Grouped CTA list</h2>
<div class="styleguide__example">
  <ul class="list list--grouped-cta">
    <li><a href="http://www.fincap.org.uk/">List item 1</a></li>
    <li><a href="http://www.fincap.org.uk/">List item 2</a></li>
    <li><a href="http://www.fincap.org.uk/">List item 3</a></li>
    <li><a href="http://www.fincap.org.uk/">List item 4</a></li>
  </ul>
</div>

<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <ul class="list list--grouped-cta">
    <li><a href="#">List item 1</a></li>
    <li><a href="#">List item 2</a></li>
    <li><a href="#">List item 3</a></li>
    <li><a href="#">List item 4</a></li>
  </ul>
</xmp>

<h3 class="styleguide__subheading" id="numbered-list">Numbered list</h2>
<div class="styleguide__example">
  <dl class="list list--numbered">
    <dt class="list--numbered__title">List item 1</dt>
    <dd class="list--numbered__content">
      List item description content
    </dd>
    <dt class="list--numbered__title">List item 2</dt>
    <dd class="list--numbered__content">
      List item description content
    </dd>
    <dt class="list--numbered__title">List item 3</dt>
    <dd class="list--numbered__content">
      List item description content
    </dd>
    <dt class="list--numbered__title">List item 4</dt>
    <dd class="list--numbered__content">
      List item description content
    </dd>
  </dl>
</div>

<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <dl class="list list--numbered">
    <dt class="list--numbered__title">List item 1</dt>
    <dd class="list--numbered__content">
      List item description content
    </dd>
    <dt class="list--numbered__title">List item 2</dt>
    <dd class="list--numbered__content">
      List item description content
    </dd>
  </dl>
</xmp>

<h3 class="styleguide__subheading" id="countries-list">Countries list</h2>
<div class="styleguide__example">
  <%= render 'shared/country_list' %>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
 <%= render 'shared/country_list' %>
</xmp>
