<h1>Content Partials</h1>
<h2>Life stages</h2>
<p>This content is made up of the following 2 sub-components:</p>
<ul class="styleguide__list">
    <a href="/styleguide/layout#col-h-m" target="_blank">Layout - 2 columns, no edge margin, equal hights</a>
  </li>
  <li class="styleguide__list-item">
    <a href="/styleguide/coloured_box" target="_blank">Coloured box</a>
  </li>
</ul>
<p>Use the following ruby code to render this content:</p>
<p>
  &lt;%= <strong>render</strong> 'shared/research_and_evaluation' %>
</p>
<div class="styleguide__example">
  <%= render 'shared/research_and_evaluation' %>
</div>
