// Basic form element style

// Text box
input[type=text] {
  @include body(14, 24);
  @extend %border-radius;
  font-family: "Museo Rounded";
  border: none;
  padding: $baseline-unit;
  margin: $baseline-unit 0;
  width: 100%;

  &:focus {
    outline: 3px solid $primary-orange;
  }

  &.include-border {
    border: 1px solid $grey-light;

    &:focus {
      outline: 3px solid $primary-blue;
    }
  }
}

button:focus {
  outline: 2px solid $primary-blue-dark;
}

// Checkboxes and Radio options

.checkbox-label,
.radio-option {
  display: block;
  padding: $baseline-unit/2 0;
}

label input[type=radio],
label input[type=checkbox] {
  margin: 0 $baseline-unit;
}

