/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Altered from original as an auto height on an iframe breaks responsivly
img,
embed,
iframe,
object,
audio,
video {
  max-width: 100%;
}

img,
video {
  height: auto;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

// MAS CUSTOM
p {
  margin: $baseline-unit*3 0;
}
h1 {
  margin-bottom: $baseline-unit;
}
h2 {
  margin-bottom: $baseline-unit*2;
}
h3 {
  margin-bottom: $baseline-unit*3;
}
pre {
  white-space: normal;
  padding-left: $baseline-unit*5;
}

