// Body Typography
//
// Mixin to adjust the font size and line height only. Typically used for one off elements that do not require any top
// or bottom margins.

@mixin body($font-size, $line-height) {
  @if $responsive == true {
    font-size: ($font-size / 16) + rem;
    line-height: ($line-height / 16) + rem;
  } @else {
    font-size: $font-size + px;
    line-height: $line-height + px;
  }
}

%type {
  @include body(16, 24);
}

h1,
h2,
h3 {
  font-weight: 500;
}

a {
  color: $primary-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
    outline: 2px solid $primary-blue-dark;
  }

  &:visited {
    color: $primary-orange;
  }

  &:not([href*="fincap.org.uk"]):after {
    @extend %icon;
    @extend .icon--external-link;
    content: '';
    margin-left: 6px;
    display: inline-block;
  }
}
