<h2>Error <%= error[:status] %><h2>
<p><%= error[:message] %></p>
<p>Your request resulted in an error. Please try again.</p>
<p><%= link_to 'Go back to evidence summaries', evidence_hub_index_path %></p>
