<svg xmlns="http://www.w3.org/2000/svg" 
     class="evidence-types__item-icon evidence-types__item-icon--<%= "#{icon}" %> svg-icon svg-icon--evidence-<%= "#{icon}" %>" 
     focusable="false">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" 
       xlink:href="#svg-icon--evidence-<%= "#{icon}" %>">
  </use>
</svg>
<p class="evidence-types__item-content">
  <%= text %>
</p>
