<header data-site-header data-dough-component="Header" data-dough-header-config='{"textClose":"Close Search"}' class="header">
  <div class="header-wrap">
    <div class="header-content">
      <div class="header-logo">
        <a href="/" class="header-logo__link">
          <%= image_tag("logo.png", alt: "t('layouts.base.title')", class: 'header-logo__img') %>
        </a>
      </div>
      <ul class="header-links">
        <li class="header-links__link">
          <%= link_to('Contact us', article_path('en', 'contact-us')) %>
        </li>
        <li class="header-links__link">
          <%= link_to 'Get involved', get_involved_path %>
        </li>
      </ul>
      <div class="mobile-header__content">
        <a data-mobile-nav-button href="#" role="button" class="btn btn--orange mobile-header__nav-button">Menu</a>
        <a data-mobile-search-button href="#" class="btn btn--primary search__submit--icon mobile-header__search-button" role="button" >
          <svg xmlns="http://www.w3.org/2000/svg" class="search-icon__show svg-icon svg-icon--search" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--search"></use>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" class="search-icon__hide show svg-icon svg-icon--search" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--close"></use>
          </svg>
          <span data-mobile-search-text class="visually-hidden">Open Search</span>
        </a>
      </div>

    </div>
    <div class="mobile-header__search">
      <div class="mobile-header__search-bar">
        <%= render 'shared/search', location: 'navigation-mobile' %>
      </div>
    </div>
  </div>
</header>
