<a href=<%= url %> class="large-cta">
  <svg xmlns="http://www.w3.org/2000/svg" class="large-cta__icon svg-icon svg-icon--<%= "#{icon}" %>" focusable="false">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--<%= "#{icon}" %>"></use>
  </svg>
  <span class="large-cta__text"><%= text %></span>
</a>
