<div class="l-maps_banner<%= ' l-maps_banner--home' if show_home_banner? %>">
  <div class="l-constrained">
    <div class="l-maps_banner__content">
      <span class="maps_banner__mps-text"><%= t('fincap.maps_banner.strapline_html', url: 'https://www.maps.org.uk/wellbeing') %></span>

      <a href="https://moneyandpensionsservice.org.uk/" target="_blank" class="maps_banner__link">
        <span class="maps_banner__mps-logo"></span>
        <span class="visually-hidden">Opens in a new window</span>
      </a>
    </div>
  </div>
</div>
