<nav class="nav uninitialised">
  <div class="l-constrained">
    <ul class="nav__level-1">
      <li class="nav__level-1__element">
        <a href="#" class="nav__level-1__element__heading">
          <span class="nav__level-1__element__text">What is financial capability?</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="nav__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="nav__level-2">
          <div class="l-constrained">
            <p class="nav__level-2__description">The concept of financial capability, why it is important and who can benefit</p>

            <a href="#" class="nav__level-2__heading">
              <span class="nav__level-2__heading__text">What is financial capability?</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="nav__level-2__categories">
              <li class="nav__level-2__category">
                <p class="nav__level-2__category__heading">What is financial capability?</p>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">The current situation in the UK</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">Financial capability - a global issue</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <p class="nav__level-2__category__heading">Who is this website for?</p>
                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">Financial Services</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">Charities &amp; third-party</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">Organisations</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">Employers</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">Researchers</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">Teachers</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">Individuals</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav__level-1__element">
        <a href="#" class="nav__level-1__element__heading">
          <span class="nav__level-1__element__text">About The Strategy</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="nav__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="nav__level-2">
          <div class="l-constrained">
            <p class="nav__level-2__description">Who is involved, why it is needed and how it will help millions of people across the UK</p>

            <a href="#" class="nav__level-2__heading">
              <span class="nav__level-2__heading__text">About The Strategy</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="nav__level-2__categories">
              <li class="nav__level-2__category">
                <p class="nav__level-2__category__heading">What is The Strategy?</p>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">UK strategy</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Northern Ireland strategy</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Scotland strategy</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Wales strategy</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <p class="nav__level-2__category__heading">Why is The Strategy needed?</p>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">What The Strategy aims to achieve</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Evidence and analysis</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Summary of key statistics on financial capability</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Strategy development</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav__level-1__element">
        <a href="#" class="nav__level-1__element__heading">
          <span class="nav__level-1__element__text">Life stages</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="nav__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="nav__level-2">
          <div class="l-constrained">
            <p class="nav__level-2__description">Groups, areas and themes the strategy focuses on</p>

            <a href="#" class="nav__level-2__heading">
              <span class="nav__level-2__heading__text">Life stages</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="nav__level-2__categories">
              <li class="nav__level-2__category">
                <a href="#">Children &amp; young people</a>

                <%# third_level(
                  'Children &amp; young people',
                  'Focussing on ages 3 to 18, to give young people the excellent financial education they need to transform our nation’s financial future'
                ).html_safe %>
              </li>
              <li class="nav__level-2__category">
                <a href="#">Young adults</a>

                <%# third_level(
                  'Young adults',
                  'Focussing on ages 3 to 18, to give young people the excellent financial education they need to transform our nation’s financial future'
                ).html_safe %>
              </li>
              <li class="nav__level-2__category">
                <a href="#">Working age adults</a>

                <%# third_level(
                  'Working age adults',
                  'Working life starts when we enter the workplace, and stretches through to retirement – covering many life events from ages 16 to 70'
                ).html_safe %>
              </li>
              <li class="nav__level-2__category">
                <a href="#">Older people in retirement</a>

                <%# third_level(
                  'Older people in retirement',
                  'Here we focus on people who are already retired and drawing an income from pensions and other savings'
                ).html_safe %>
              </li>
              <li class="nav__level-2__category">
                <a href="#">People planning to retire</a>

                <%# third_level(
                  'People planning to retire',
                  'People can experience financial difficulties at any stage in life. This section covers early intervention, crisis support and building resilience to future financial shocks.'
                ).html_safe %>
              </li>
              <li class="nav__level-2__category">
                <a href="#">People in financial difficulties</a>

                <%# third_level(
                  'People in financial difficulties',
                  'People can experience financial difficulties at any stage in life. This section covers early intervention, crisis support and building resilience to future financial shocks.'
                ).html_safe %>
              </li>
              <li class="nav__level-2__category">
                <a href="#">People trying to save</a>

                <%# third_level(
                  'People trying to save',
                  'As a nation, very few of us have enough savings. This section looks at ways to tackle this'
                ).html_safe %>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav__level-1__element">
        <a href="#" class="nav__level-1__element__heading">
          <span class="nav__level-1__element__text">Research &amp; evaluation</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="nav__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="nav__level-2">
          <div class="l-constrained">
            <p class="nav__level-2__description">Discover existing evidence and find out how to evaluate your own efforts</p>

            <a href="#" class="nav__level-2__heading">
              <span class="nav__level-2__heading__text">Research &amp; evaluation</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="nav__level-2__categories">
              <li class="nav__level-2__category">
                <p class="nav__level-2__category__heading">Our Approach</p>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">10 ways to get involved</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <p class="nav__level-2__category__heading">Find evidence</p>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">Evidence hub</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Financial Capability in the UK</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <p class="nav__level-2__category__heading">Evaluate your programme</p>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">Evaluation toolkit</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">IMPACT principles</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Funding</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <p class="nav__level-2__category__heading">What Works Programme</p>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">What Works Fund</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Funded projects</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">FinCap labs</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav__level-1__element">
        <a href="#" class="nav__level-1__element__heading">
          <span class="nav__level-1__element__text">News &amp; Events</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="nav__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="nav__level-2">
          <div class="l-constrained">
            <p class="nav__level-2__description">Get all the latest news, events and join in the conversation</p>

            <a href="#" class="nav__level-2__heading">
              <span class="nav__level-2__heading__text">News &amp; Events</span>
            </a>

            <ul class="nav__level-2__categories">
              <li class="nav__level-2__category">
                <p class="nav__level-2__category__heading">Events</p>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">FinCap Week 2018</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">How to get involved in FinCap Week</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">FinCap Week 2017</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Highlights from FinCap Week 2017</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">FinCap Week 2016</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <p class="nav__level-2__category__heading">Media Centre</p>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">Latest news</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">News archive</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Press releases archive</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Brand guidelines</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <p class="nav__level-2__category__heading">FinCap community</p>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">Ask your questions</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Networking events</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Add your draft research</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <p class="nav__level-2__category__heading">Blog</p>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">Article 1</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Article 2</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Article 3</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li>
        <a href="#" class="nav__close-button">
          Close
          <svg xmlns="http://www.w3.org/2000/svg" class="nav__close-button__icon" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--mobile-close-box"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>
