<nav class="nav uninitialised"> <!-- is-active -->
  <div class="l-constrained">
    <ul class="nav__level-1" data-nav-level-1> <!-- is-active is-open -->
      <li class="nav__level-1__element" data-nav-level-1-item>
        <a href="#" class="nav__level-1__element__heading" data-nav-level-1-heading>
          <span class="nav__level-1__element__text">What is financial capability?</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="nav__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="nav__level-2" data-nav-level-2>
          <div class="l-constrained">
            <p href="#" class="nav__level-2__description">The concept of financial capability, why it is important and who can benefit</p>

            <a href="#" class="nav__level-2__heading" data-nav-level-2-heading>
              <span class="nav__level-2__heading__text">What is financial capability?</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="nav__level-2__categories">
              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading">What is financial capability?</a>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">The current situation in the UK</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">Financial capability - a global issue</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading">Who is this website for?</a>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">Financial Services</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">Charities &amp; third-sector organsations</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">Employers</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">Researchers</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">Teachers</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#" class="nav__level-2__subcategory__link">Individuals</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav__level-1__element" data-nav-level-1-item>
        <a href="#" class="nav__level-1__element__heading" data-nav-level-1-heading>
          <span class="nav__level-1__element__text">About The Strategy</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="nav__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="nav__level-2" data-nav-level-2>
          <div class="l-constrained">
            <p class="nav__level-2__description">Who is involved, why it is needed and how it will help millions of people across the UK</p>

            <a href="#" class="nav__level-2__heading" data-nav-level-2-heading>
              <span class="nav__level-2__heading__text">About The Strategy</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="nav__level-2__categories">
              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading">What is The Strategy?</a>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">UK strategy</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Northern Ireland strategy</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Scotland strategy</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Wales strategy</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading">Why is The Strategy needed?</a>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">What The Strategy aims to achieve</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Summary of key statistics on financial capability</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Strategy development</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading">How the Strategy will be delivered</a>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">The role of steering groups</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">The role of the Money Advice Service</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading">Who is involved?</a>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">Fincancial Capability board</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Steering groups and forums</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">IMPACT principle signatories</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">What Works fund grantees</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Get involved</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav__level-1__element" data-nav-level-1-item> <!-- is-active -->
        <a href="#" class="nav__level-1__element__heading" data-nav-level-1-heading>
          <span class="nav__level-1__element__text">Life stages</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="nav__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="nav__level-2 nav__level-2--extended" data-nav-level-2>
          <div class="l-constrained">
            <p class="nav__level-2__description">Groups, areas and themes the strategy focuses on</p>

            <a href="#" class="nav__level-2__heading" data-nav-level-2-heading>
              <span class="nav__level-2__heading__text">Life stages</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="nav__level-2__categories">
              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading" data-nav-level-2-extended-heading>
                  <span class="nav__level-2__category__heading__text">Children &amp; young people</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
                  </svg>
                </a>

                <div class="nav__level-3" data-nav-level-3> <!-- is-active -->
                  <div class="l-constrained">
                    <div class="nav__level-3__image"></div>

                    <p class="nav__level-3__description">Focussing on ages 3 to 18, to give young people the excellent financial education they need to transform our nation’s financial future</p>

                    <a href="#" class="nav__level-3__heading" data-nav-level-3-heading>
                      <span class="nav__level-3__heading__text">Children &amp; young people</span>
                      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
                      </svg>
                    </a>

                    <ul class="nav__level-3__categories">
                      <li class="nav__level-3__category">
                        <a href="#">Find out more about children and young people</a>
                      </li>

                      <li class="nav__level-3__category">
                        <ul class="nav__level-3__subcategories">
                          <li class="nav__level-3__subcategory">
                            <a href="#">Children and young people Steering Group</a>
                          </li>
                          <li class="nav__level-3__subcategory">
                            <a href="#">Steering group updates</a>
                          </li>
                          <li class="nav__level-3__subcategory">
                            <a href="#">Action Plans</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading" data-nav-level-2-extended-heading>
                  <span class="nav__level-2__category__heading__text">Young Adults</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
                  </svg>
                </a>

                <div class="nav__level-3" data-nav-level-3>
                  <div class="l-constrained">
                    <div class="nav__level-3__image"></div>

                    <p class="nav__level-3__description">Focussing on ages 3 to 18, to give young people the excellent financial education they need to transform our nation’s financial future</p>

                    <a href="#" class="nav__level-3__heading" data-nav-level-3-heading>
                      <span class="nav__level-3__heading__text">Young Adults</span>
                      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
                      </svg>
                    </a>

                    <ul class="nav__level-3__categories">
                      <li class="nav__level-3__category">
                        <a href="#">Find out more about young adults</a>
                      </li>

                      <li class="nav__level-3__category">
                        <ul class="nav__level-3__subcategories">
                          <li class="nav__level-3__subcategory">
                            <a href="#">Young Adults steering group</a>
                          </li>
                          <li class="nav__level-3__subcategory">
                            <a href="#">Steering group updates</a>
                          </li>
                          <li class="nav__level-3__subcategory">
                            <a href="#">Young Adults action plans</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading" data-nav-level-2-extended-heading>
                  <span class="nav__level-2__category__heading__text">Working Age Adults</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
                  </svg>
                </a>

                <div class="nav__level-3" data-nav-level-3>
                  <div class="l-constrained">
                    <div class="nav__level-3__image"></div>

                    <p class="nav__level-3__description">Working life starts when we enter the workplace, and stretches through to retirement – covering many life events from ages 16 to 70</p>

                    <a href="#" class="nav__level-3__heading" data-nav-level-3-heading>
                      <span class="nav__level-3__heading__text">Working Age Adults</span>
                      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
                      </svg>
                    </a>

                    <ul class="nav__level-3__categories">
                      <li class="nav__level-3__category">
                        <a href="#">Find out more about working age adults</a>
                      </li>

                      <li class="nav__level-3__category">
                        <ul class="nav__level-3__subcategories">
                          <li class="nav__level-3__subcategory">
                            <a href="#">Working Age Adults</a>
                          </li>
                          <li class="nav__level-3__subcategory">
                            <a href="#">Steering group updates</a>
                          </li>
                          <li class="nav__level-3__subcategory">
                            <a href="#">Working Age Adults Action Plans</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading" data-nav-level-2-extended-heading>
                  <span class="nav__level-2__category__heading__text">Older People in Retirement</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
                  </svg>
                </a>

                <div class="nav__level-3" data-nav-level-3>
                  <div class="l-constrained">
                    <div class="nav__level-3__image"></div>

                    <p class="nav__level-3__description">Here we focus on people who are already retired and drawing an income from pensions and other savings</p>

                    <a href="#" class="nav__level-3__heading" data-nav-level-3-heading>
                      <span class="nav__level-3__heading__text">Older People in Retirement</span>
                      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
                      </svg>
                    </a>

                    <ul class="nav__level-3__categories">
                      <li class="nav__level-3__category">
                        <a href="#">Find out more about older people in retirement</a>
                      </li>

                      <li class="nav__level-3__category">
                        <ul class="nav__level-3__subcategories">
                          <li class="nav__level-3__subcategory">
                            <a href="#">Older People in Retirement</a>
                          </li>
                          <li class="nav__level-3__subcategory">
                            <a href="#">Steering group updates</a>
                          </li>
                          <li class="nav__level-3__subcategory">
                            <a href="#">Older People in Retirement</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading" data-nav-level-2-extended-heading>
                  <span class="nav__level-2__category__heading__text">People planning to retire</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
                  </svg>
                </a>

                <div class="nav__level-3" data-nav-level-3>
                  <div class="l-constrained">
                    <div class="nav__level-3__image"></div>

                    <p class="nav__level-3__description">People can experience financial difficulties at any stage in life. This section covers early intervention, crisis support and building resilience to future financial shocks.</p>

                    <a href="#" class="nav__level-3__heading" data-nav-level-3-heading>
                      <span class="nav__level-3__heading__text">People planning to retire</span>
                      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
                      </svg>
                    </a>

                    <ul class="nav__level-3__categories">
                      <li class="nav__level-3__category">
                        <a href="#">Find out more about people planning to retire</a>
                      </li>

                      <li class="nav__level-3__category">
                        <ul class="nav__level-3__subcategories">
                          <li class="nav__level-3__subcategory">
                            <a href="#">People planning to retire</a>
                          </li>
                          <li class="nav__level-3__subcategory">
                            <a href="#">Steering group updates</a>
                          </li>
                          <li class="nav__level-3__subcategory">
                            <a href="#">People planning to retire action plans</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading" data-nav-level-2-extended-heading>
                  <span class="nav__level-2__category__heading__text">People in Financial difficulties</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
                  </svg>
                </a>

                <div class="nav__level-3" data-nav-level-3>
                  <div class="l-constrained">
                    <div class="nav__level-3__image"></div>

                    <p class="nav__level-3__description">People can experience financial difficulties at any stage in life. This section covers early intervention, crisis support and building resilience to future financial shocks.</p>

                    <a href="#" class="nav__level-3__heading" data-nav-level-3-heading>
                      <span class="nav__level-3__heading__text">People in Financial difficulties</span>
                      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
                      </svg>
                    </a>

                    <ul class="nav__level-3__categories">
                      <li class="nav__level-3__category">
                        <a href="#">Find out more about people in financial difficulties</a>
                      </li>

                      <li class="nav__level-3__category">
                        <ul class="nav__level-3__subcategories">
                          <li class="nav__level-3__subcategory">
                            <a href="#">Debt advice steering group</a>
                          </li>
                          <li class="nav__level-3__subcategory">
                            <a href="#">Steering Group updates</a>
                          </li>
                          <li class="nav__level-3__subcategory">
                            <a href="#">Debt Advice action plans</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading" data-nav-level-2-extended-heading>
                  <span class="nav__level-2__category__heading__text">People trying to save</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
                  </svg>
                </a>

                <div class="nav__level-3" data-nav-level-3>
                  <div class="l-constrained">
                    <div class="nav__level-3__image"></div>

                    <p class="nav__level-3__description">As a nation, very few of us have enough savings. This section looks at ways to tackle this</p>

                    <a href="#" class="nav__level-3__heading" data-nav-level-3-heading>
                      <span class="nav__level-3__heading__text">People trying to save</span>
                      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
                      </svg>
                    </a>

                    <ul class="nav__level-3__categories">
                      <li class="nav__level-3__category">
                        <a href="#">Find out more about people trying to save</a>
                      </li>

                      <li class="nav__level-3__category">
                        <ul class="nav__level-3__subcategories">
                          <li class="nav__level-3__subcategory">
                            <a href="#">Savings Steering Group</a>
                          </li>
                          <li class="nav__level-3__subcategory">
                            <a href="#">Steering Group updates</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav__level-1__element" data-nav-level-1-item>
        <a href="#" class="nav__level-1__element__heading" data-nav-level-1-heading>
          <span class="nav__level-1__element__text">Research &amp; evaluation</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="nav__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="nav__level-2" data-nav-level-2>
          <div class="l-constrained">
            <p class="nav__level-2__description">Discover existing evidence and find out how to evaluate your own efforts</p>

            <a href="#" class="nav__level-2__heading" data-nav-level-2-heading>
              <span class="nav__level-2__heading__text">Research &amp; evaluation</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="nav__level-2__categories">
              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading">Our Approach</a>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">How to get involved</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading">Find evidence</a>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">Evidence hub</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Financial Capability in the UK</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading">Evaluate your programme</a>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">Evaluation toolkit</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">IMPACT principles</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Funding</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading">What Works Programme</a>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">What Works Fund</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Funded projects</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">FinCap labs</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav__level-1__element" data-nav-level-1-item>
        <a href="#" class="nav__level-1__element__heading" data-nav-level-1-heading>
          <span class="nav__level-1__element__text">News &amp; Events</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="nav__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="nav__level-2" data-nav-level-2>
          <div class="l-constrained">
            <p class="nav__level-2__description">Get all the latest news, events and join in the conversation</p>

            <a href="#" class="nav__level-2__heading" data-nav-level-2-heading>
              <span class="nav__level-2__heading__text">News &amp; Events</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow nav__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="nav__level-2__categories">
              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading">Events</a>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">FinCap Week</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading">Latest news</a>

                <ul class="nav__level-2__subcategories">
                  <li class="nav__level-2__subcategory">
                    <a href="#">News archive</a>
                  </li>
                  <li class="nav__level-2__subcategory">
                    <a href="#">Press releases</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <a href="#" class="nav__level-2__category__heading">Blog</a>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li>
        <a href="#" class="nav__close-button" data-mobile-nav-close>
          Close
          <svg xmlns="http://www.w3.org/2000/svg" class="nav__close-button__icon" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--mobile-close-box"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="mobile-nav-overlay" data-mobile-nav-overlay=""></div>
