<div class="coloured-box">
  <h2 class="coloured-box__title">Research &amp; Evaluation</h2>
  <ul class="list list--links coloured-box__list">
    <li><a href="#">List item 1</a></li>
    <li><a href="#">List item 2</a></li>
    <li><a href="#">List item 3</a></li>
    <li><a href="#">List item 4</a></li>
  </ul>
</div>
