<%= form_tag search_results_path(locale: 'en'), method: :get do %>
  <%= label_tag 'Search', nil, for: "search", class: 'visually-hidden' %>
  <%= text_field_tag 'query', nil, placeholder: 'Search Fincap', id: "search", class: 'search__input' %>

  <button class='search__submit search__submit--icon' type="submit">
    <span class="visually-hidden">Search</span>
    <span class="icon icon--search"></span>
  </button>
<% end %>

