<form class="search">
  <label class="visually-hidden" for="search_<%= "#{location}" %>">Search</label>
  <input type="text" placeholder="Search Fincap" id="search_<%= "#{location}" %>" class="search__input" />
  <button class="search__submit search__submit--icon" type="submit">
    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--search" focusable="false">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--search"></use>
    </svg>
    <span class="visually-hidden">Search</span>
  </button>
</form>
