<div class='sidepanel__twitter'>
    <%= link_to('Tweets by MoneyPensionsUK', 'https://twitter.com/MoneyPensionsUK', {'class': 'twitter-timeline', 'data-height': '750', 'data-theme': 'light', 'data-aria-polite': 'assertive'}) %>
    <script async src="//platform.twitter.com/widgets.js" chars  et="utf-8"></script>
</div>
