@import 'teaser';
@import 'hero';
@import 'coloured_box';
@import 'bordered_box';
@import 'latest_news';
@import 'download_box';
@import 'feedback_box';
@import 'large_cta';
@import 'sidepanel';
@import 'evidence_types';
@import 'evaluation_types';
@import 'search';
@import 'search_results';
@import 'tooltip';
@import 'pagination';
@import 'cookie';
