.coloured-box {
  padding: $baseline-unit*2;
  background-color: $primary-green-pale;
  @extend %boxed-paragraph;
}

.coloured-box__title {
  @include body(20, 24);
  font-weight: 500;
  color: $color-white;
  margin-top: $baseline-unit;
}

.coloured-box__content {
  color: $color-white;
  margin-bottom: 0;
}

.coloured-box__list {
  a {
    color: $color-white;

    &:visited {
      color: $color-white;
    }
  }
}

.coloured-box_info-box {
  @extend .coloured-box;
  @extend .l-constrained;
  background: $color-blue-lighter;
  padding: $baseline-unit * 3;
  &, 
  & .coloured-box__content,
  & .coloured-box__title {
    color: $primary-blue;
    font-weight: 500;
  }
}
