.download-box {
  background-color: $primary-green-pale;
  padding: $baseline-unit*2;
  color: $color-white;
  position: relative;
}

.download-box__title {
  margin: $baseline-unit 0 0;
  padding: 0;
}

.download-box__icon {
  position: absolute;
  right: $baseline-unit*2;
  top: $baseline-unit*2;
}

.download-box__list {
  padding: 0;
  margin-bottom: 0;
  &,
  .body-content & { 
    list-style: none;
  }
}

a.download-box__list-item-link {
  color: $color-white;
  padding: 0 calc(40px + #{$baseline-unit*2}) 0 0;

  &:visited {
    color: $grey-lightest;
  }
}
