.download-box {
  background-color: $primary-green-pale;
  padding: $baseline-unit*2;
  color: $color-white;
  position: relative;
}

.download-box__title {
  margin: $baseline-unit 0 0;
  padding: 0;
}

.download-box__icon {
  position: absolute;
  right: $baseline-unit*2;
  top: $baseline-unit*2;
}

.download-box__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

a.download-box__list-item-link {
  color: $color-white;

  &:visited {
    color: $grey-lightest;
  }
}
