.evidence-types {
  @include body(14, 24);
  list-style: none;
  margin: 0;
  padding: 0;
}

.evidence-types__item {
  display: inline-block;
  margin: 0 $baseline-unit*2 0 0;
}

.evidence-types__item-icon {
  float: left;
  width: 20px;
  height: 20px;
  padding-right: $baseline-unit;
}

.evidence-types__item-icon--tick {
  fill: $color-green-lime;
}

.evidence-types__item-icon--cross {
  fill: $primary-orange;
}
