.hero {
  @include column(12);
  @extend %clearfix;
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__heading,
.hero__content {
  @include body(26, 30);
  font-weight: 300;
  background-color: $primary-green-pale;
  color: $color-white;
  padding: $baseline-unit*4 $baseline-unit*2;
  margin-top: 12.5rem;
  margin-bottom: 0;

  .hero__heading-strong,
  .hero__content-strong {
    font-weight: 500;
  }

  @include respond-to($mq-m) {
    float: left;
    width: 50%;
    margin: $baseline-unit*6 0;
  }

  @include respond-to($mq-m) {
    width: 30%;
  }

  .hero--blue & {
    background-color: $primary-blue;
  }

  .hero--orange & {
    background-color: $primary-orange;
  }

  .hero--purple & {
    background-color: $primary-purple;
  }

  .hero--yellow & {
    background-color: $primary-yellow;
    color: $color-black;
  }
}

.hero__content {
  @include body(16, 24);
  padding: 0 $baseline-unit*2;
}

.hero__content-paragraph {
  margin: 0;
  padding: $baseline-unit*2 $baseline-unit;
}

.hero__content-list {
  padding: $baseline-unit*2;
  padding-left: $baseline-unit*4;
  margin: 0;
}

.hero__content-list-item {
  margin: 0;
  padding: 0;
}

.hero__icon {
  width: 70px;
  height: 70px;
  margin-left: $baseline-unit*3;
}

.hero-evidence-hub {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: $baseline-unit*10 0;

  @include respond-to($mq-m) {
    background-position: right top;
  }
}

.hero-evidence-hub__title {
  @include body(20, 28);
  color: $color-white;
  font-weight: 500;
  margin: 0 0 0 $baseline-unit*3;
  text-transform: capitalize;
}

.hero-evidence-hub--insight {
  background-image: image-url('headers/insight-header.png');
}

.hero-evidence-hub--review {
  background-image: image-url('headers/review-header.png');
}

.hero-evidence-hub--evaluation {
  background-image: image-url('headers/evaluation-header.png');
}
