.hero {
  @include column(12);
  @extend %clearfix;
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__heading {
  @include body(26, 30);
  font-weight: 300;
  background-color: $primary-green-pale;
  color: $color-white;
  padding: $baseline-unit*4 $baseline-unit*2;
  margin-top: 12.5rem;
  margin-bottom: 0;

  .hero__heading-strong {
    font-weight: 500;
  }

  @include respond-to($mq-m) {
    float: left;
    width: 50%;
    margin: $baseline-unit*6 0;
  }

  @include respond-to($mq-m) {
    width: 30%;
  }

  .hero--blue & {
    background-color: $primary-blue;
  }

  .hero--orange & {
    background-color: $primary-orange;
  }

  .hero--purple & {
    background-color: $primary-purple;
  }

  .hero--yellow & {
    background-color: $primary-yellow;
    color: $color-black;
  }
}
