.search {
  position: relative;
}

.search__submit {
  cursor: pointer;
}

.search__submit--icon {
  @extend %icon;
  @extend .icon--search;
  position: absolute;
  top: 50%;
  right: $baseline-unit;
  margin-top: -12.5px;
  border: none;
}
