.search {
  position: relative;
}

.search__submit {
  cursor: pointer;
}

.search__submit--icon {
  @extend %icon;
  @extend .icon--search;
  position: absolute;
  top: $baseline-unit*2;
  right: $baseline-unit;
  border: none;
}
