.search-results {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-results__item {
  border-top: 1px solid $grey-light;
  margin: 0;
  padding: $baseline-unit*2;
  position: relative;

  &:nth-child(odd) {
    background-color: $color-blue-lighter;
  }
}

.search-results__title {
  @include body(20, 24);
  font-weight: 500;
  margin-top: $baseline-unit;
  text-decoration: underline;
}

.search-results__evidence-type {
  margin: 1em 0;
}
