.search {
  position: relative;
}

.search__submit {
  cursor: pointer;
}
input.search__input {
  box-sizing: border-box;
  width: 100%;
  padding-right: 35px;
}

.search__submit--icon {    
  position: absolute;
  height: 1.6rem;
  right: 0.375rem;
  width: 30px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  border: none;
  background: none;
  color: $primary-blue-dark;
  .svg-icon {
    position: absolute;
    height: 100%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
