.sidepanel {
  @extend %clearfix;
  background-color: $color-blue-lighter;
  padding: $baseline-unit*2;
  margin-bottom: $baseline-unit;
}

.sidepanel__fieldset {
  margin: $baseline-unit*2 0;
  border: none;
  padding: 0;
}

.sidepanel__title {
  @include body(20, 24);
  position: relative;
  color: $primary-blue-dark;
  font-weight: 500;
  padding: 0 0 $baseline-unit*2;
  margin: 0;
}

.sidepanel__filter-toggle-icon {
  position: absolute;
  right: $baseline-unit;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 22px;
  color: $primary-blue-dark;
  transform-origin: 50% 0%;

  @include respond-to($mq-m) {
    display: none;
  }
}
.sidepanel__filter-toggle {
  &:visited {
    color: $primary-blue-dark;
  }
  .svg-icon--close {
    transition: none;
    transform: scale(0) translateY(-50%);
  }
  .svg-icon--open {
    transition: transform 300ms ease-out;
    transform: scale(1) translateY(-50%);
  }
  .new_evidence_summary_search_form.is-open & {
    .svg-icon--close {
      transition: transform 300ms ease-out;
      transform: scale(1) translateY(-50%);
    }
    .svg-icon--open {
      transition: none;
      transform: scale(0) translateY(-50%);
    }
  }

  @include respond-to($mq-m) {
    cursor: auto;
    &:focus, &:hover {
      text-decoration: none;
    }
  }
}

.sidepanel__subtitle {
  @include body(18, 24);
  color: $primary-blue-dark;
  font-weight: 500;
  padding: 0;
  margin: $baseline-unit*2 0;
}

.sidepanel__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.sidepanel__list-item {
  &:before {
    background-color: $primary-blue-dark;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-right: $baseline-unit;
    margin-bottom: 2px;
    height: 5px;
    width: 5px;
  }
}

.sidepanel__list-item-link {
  text-decoration: underline;
}

.sidepanel__filters {
  border-top: 1px solid $grey-light;
  padding-top: $baseline-unit*3;
}

// Form Elements

.sidepanel__clear-filters {
  @include body(14, 18);
  @extend %border-radius;
  margin: $baseline-unit 0 $baseline-unit*3;
  display: inline-block;
  border: 1px solid $primary-orange;
  padding: $baseline-unit/2 $baseline-unit;
  background-color: $color-white;
}

.sidepanel__clear-icon {
  width: 15px;
  height: 15px;
}

.sidepanel__radio {
  display: block;
  padding: $baseline-unit/2 0;
}

.sidepanel__twitter {
  margin: $baseline-spacing 0;
  padding: 30px;
  background: $color-blue-aqua;
}
