.teaser-box__group {
  @extend .l-constrained;
  @extend %clearfix;
  padding: $baseline-unit*2;
  background-color: $color-blue-lighter;
}

.teaser-box__group-title {
  @include body(22, 24);
  margin: 0 $baseline-unit $baseline-unit*2;
}


.teaser-box {
  margin-bottom: $baseline-unit*2;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include respond-to($mq-s) {
    @include column(4, 3, $baseline-spacing);
    margin-bottom: 0;

    .object-fit & {
      display: flex;
      flex-direction: column;
    }
  }
}

.teaser-box__group-content {
  @include respond-to($mq-s) {
    .object-fit & {
      display: flex;
    }
  }
}

.teaser-box__image {
  @include column(12);
  max-height: 150px; // This will be removed via js if the content is bigger
  min-height: 150px; 
  
  @include respond-to($mq-s) {
    max-height: 300px; // This will be removed via js if the content is bigger
    min-height: 300px; 
  }

  .object-fit & {
    object-fit: cover;
  }
}

.teaser-box__content {
  @include column(12);
  padding: $baseline-unit*2 $baseline-unit;
  .object-fit & {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
  }
}

.teaser-box__title {
  margin-top: 0;
  margin-bottom: $baseline-unit;
}

.teaser-box__content-text { 
  @include body(14, 22);
  margin: 0 0 $baseline-unit*2;   

  .object-fit & {
    flex: 1 0 auto;
    flex-direction: column;
  }
}

.teaser-box__cta {
  @include body(14, 24);
  display: block;
  padding: $baseline-unit/2;
}

.teaser-box--horizontal,
.teaser-box--thematic-review {
  @extend .row;
  @extend %clearfix;
  background-color: $color-blue-lighter;

  @include respond-to($mq-m) {
    .object-fit & {
      display: flex;
    }
  }

  .teaser-box__image {
    background: yellow;
    @include respond-to($mq-m) {
      width: 50%;

      .object-fit & {
        flex: 1;
      }
    }
  }

  .teaser-box__content {
    padding: $baseline-unit*2 $baseline-unit*2;

    @include respond-to($mq-m) {
      .object-fit & {
        flex: 1;
      }
    }
  }
}

.teaser-box--horizontal {
  .teaser-box__image,
  .teaser-box__content {
    @include respond-to($mq-m) {
      @include column(6, 2, 0px);
    }
  }

  .teaser-box__title {
    @include body(22, 24);
  }
}

.teaser-box--thematic-review {
  .teaser-box__image {
    @include respond-to($mq-m) {
      @include column(4, 2, 0px);
    }
  }

  .teaser-box__content {
    @include respond-to($mq-m) {
      @include column(8, 2, 0px);

      .object-fit & {
        flex-grow: 2;
      }
    }
  }

  .teaser-box__title {
    @include body(18, 24);
    color: $primary-blue-dark;
  }

  .teaser-box__content-link {
    font-weight: 500;
    text-decoration: underline;
  }
}
