.tooltip {
  position: relative;
}

.tooltip__trigger {
  border: none;
  padding: 0;
  font-size: inherit;
  background: none;
}

.tooltip__content {
  background: $grey-lighter;
  line-height: 1.2;
  border-radius: $baseline-unit;
  padding: $baseline-unit*2;
  display: block;
  @include box-shadow; 

  .js & {
    position: absolute;
    left: 0;
    top: 100%;
    width: 250px;
    z-index: 10;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 20px;
      top: -20px;
      width: 0;
      height: 0;
      border: solid 10px transparent;
      border-bottom-color: $grey-lighter;
      pointer-events: none;
    }

    p:first-of-type {
      margin-top: 0;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .js &.js-is-hidden {
    display: none;
  }
}
