@mixin constrained {
  margin: 0 auto;
  // restricts the maximum width of the website for IE8 users and below
  @if $responsive {
    max-width: $mq-xl;
    width: 100%;
  } @else {
    width: $mq-l;
  }
}

%l-constrained__np {
  @extend %clearfix;
  @include constrained;
}

.l-constrained {  
  @extend %clearfix;
  @include constrained;
  padding: 0 $baseline-spacing;
}
