<div class="error-content">
  <h1>The page you were looking for doesn't exist.</h1>
  <p>You may have mistyped the address or the page may have moved.</p>
  <p><a href="/" class="btn btn--primary">Click here</a> to be taken to the homepage.</p>
</div>
