<footer>
  <div class="l-constrained">
    <div class="footer">
      <div class="footer__content">
        <div class="row">
          <div class="footer__search">
            <%= render 'shared/search', location: 'footer' %>
          </div>
        </div>
        <div class="row">
          <%= render 'shared/footer/footer_social' %>
          <%= render 'shared/footer/footer_newsletter' %>
        </div>
        <%= render 'shared/footer/footer_menu' %>
      </div>
    </div>
  </div>
</footer>
