<ul class="footer__menu">
  <li class="footer__menu-item">
    <a href="/en/articles/about-us" class="footer__menu-link">About us</a>
  </li>
  <li class="footer__menu-item">
    <a href="/en/articles/contact-us" class="footer__menu-link">Contact us</a>
  </li>
  <li class="footer__menu-item">
    <a href="/en/articles/privacy-policy" class="footer__menu-link">Privacy policy</a>
  </li>
  <li class="footer__menu-item">
    <a href="/en/articles/terms-and-conditions" class="footer__menu-link">Terms and Conditions</a>
  </li>
  <li class="footer__menu-item">
    <a href="/en/articles/cookies" class="footer__menu-link">Cookies</a>
  </li>
</ul>
