<div class="footer__search">
  <form class="search">
    <input type="text" class="search__field" placeholder="Seach Fincap" />
    <button class="search__submit search__submit--icon" type="submit">
      <span class="visually-hidden">Search</span>
    </button>
  </form>
</div>
