<div class="footer__box">
  <div class="footer__box-inner">
    <h2 class="footer__box-title">Stay in touch</h2>
    <p>Subscribe to our newsletter</p>
    <%= link_to(
      'Subscribe',
      t('fincap.links_external.newsletter'),
      target: '_blank',
      class: 'btn btn--primary btn--full-width'
    ) %>
  </div>
</div>
