<footer>
  <div class="l-constrained">
    <div class="footer">
      <div class="row">
        <%= render 'shared/footer/footer_search' %>
      </div>
      <div class="row">
        <%= render 'shared/footer/footer_social' %>
        <%= render 'shared/footer/footer_newsletter' %>
      </div>
      <%= render 'shared/footer/footer_menu' %>
    </div>
  </div>
</footer>
