<div class="footer__social">
  <h2 class="footer__social-title">
    Follow us on our social media channels
  </h2>
  <ul class="footer__social-list">
    <li class="footer__social-list-item footer__social-list-item--twitter">
      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--twitter" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--twitter"></use>
      </svg>
      <a href="https://twitter.com/fincapstrategy" class="footer__social-list-link external-link--white">
        FinCap on Twitter
      </a>
    </li>
    <li class="footer__social-list-item footer__social-list-item--linkedin">
      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--linkedin" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--linkedin"></use>
      </svg>
      <a href="https://www.linkedin.com/company/10915103/" class="footer__social-list-link">
        FinCap on LinkedIn
      </a>
    </li>
    <li class="footer__social-list-item footer__social-list-item--youtube">
      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--youtube" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--youtube"></use>
      </svg>
      <a href="https://www.youtube.com/channel/UCOXOEcLEUoHv8XVKhv6WW1Q/videos" class="footer__social-list-link">
        FinCap on YouTube
      </a>
    </li>
  <ul>
</div>
