<div class="footer__box">
  <div class="footer__box-inner">
    <h2 class="footer__box-title">Stay in touch</h2>
    <p>Subscribe to our newsletter</p>
    <form>
      <button class="btn btn--primary btn--full-width">Subscribe</button>
    </form>
  </div>
</div>
