<%= link_to(
  '#',
  {
    'data-nav-level-3-heading': true,
    'class': 'nav__level-3__heading',
    'tabindex': -1
  }) do %>
  <span class="nav__level-3__heading__text"><%= text %></span>
<% end %>
