<%= link_to(
  '#',
  {
    'data-nav-level-2-extended-heading': true,
    'class': 'nav__level-2__category__heading',
    'role': 'menuitem',
    'aria-haspopup': true,
    'aria-expanded': false,
    'tabindex': -1
  }) do %>
  <span class="nav__level-2__category__heading__text"><%= text %></span>
<% end %>
