<li class="nav__level-3__subcategory" role="none">
  <%= link_to(
    text,
    url,
    'data-nav-level-3-link': true,
    'class': 'nav__level-3__subcategory__link',
    'role': 'menuitem',
    'aria-haspopup': false,
    'tabindex': -1
  ) %>
</li>
