.nav__level-2,
.nav__level-3 {
  transition-property: visibility;
  transition-delay: $nav-transition-duration;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  width: 100%;

  &.is-active {
    transform: translateX(0);
  }

  @include respond-to($mq-m) {
    transition: none;
    top: 100%;
    transform: none;
    width: 100%;
    margin: 0;
    max-width: none;
    background: $color-white;
    padding-bottom: $baseline-unit;

    &.is-active {
      visibility: visible;
      transform: none;
    }
  }
}

.nav__level-2 {
  @include respond-to($mq-m) {
    &:after {
      content: '';
      display: block;
      box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.6);
      position: relative;
      z-index: -1
    }
  }
}

.nav__level-2__description {
  display: none;

  @include respond-to($mq-m) {
    @include column(12);

    display: block;
    text-align: center;
    color: $color-black;
  }
}

.is-hidden {
  display: none;
}

// uninitialised --
.uninitialised {
  @include respond-to($mq-m) {
    .nav__level-1__element__heading {
      &:hover {
        & + .nav__level-2 {
          visibility: visible;
          transform: none;
        }
      }
    }

    .nav__level-2:hover {
      visibility: visible;
      transform: none;
    }
  }
}
// -- uninitialised fallback

.nav__level-2__heading {
  margin: 0 0 $baseline-unit*2;
  background: $primary-blue-dark;
  position: relative;
  display: block;
  padding: $baseline-unit $baseline-unit*2;
  border-top: none;

  @include respond-to($mq-m) {
    display: none;
  }
}

.nav__level-2__heading__text,
.nav__level-3__heading__text {
  display: inline-block;
  float: none;
  padding: $baseline-unit * 2 0 $baseline-unit * 2 $default-gutter * 2;
  color: $color-white;

  &:before {
    @include chevron(left, $color-white);

    display: block;
    position: absolute;
    top: 50%;
    left: $default-gutter;
    transform: translateY(-$chevron-size);
  }
}

.nav__level-2__categories,
.nav__level-3__categories,
.nav__level-3__subcategories {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @include respond-to($mq-m) {
    margin-bottom: $baseline-unit*2;
  }
}

.nav__level-2__categories {
  float: left;
  position: relative;

  @include respond-to($mq-m) {
    @include column(12);

    /* non-FlexBox compliant -- */
    display: table-row;
    /* -- non-FlexBox compliant */
  }
}

.nav__level-2__category {
  @include column(12);

  margin-top: $baseline-unit * 2;
  margin-bottom: $baseline-unit * 2;

  @include respond-to($mq-m) {
    border-bottom: none;
    box-shadow: none;
    position: relative;
    margin: 0;
    padding: 0 $default-gutter / 2;
    border-top: none;
    border-bottom: none;
    width: auto;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -0.5px;
      border-left: 1px solid $primary-orange;
      width: 1px;
    }

    &:nth-child(2) {
      padding-left: 0;

      &:before {
        border-left: none;
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.nav__level-2__category {
  @include respond-to($mq-m) {
    width: calc((100% - (#{$default-gutter} * 3)) / 4);

    /* non-FlexBox compliant -- */
    display: table-cell;
    /* -- non-FlexBox compliant */
  }
}

.nav__level-2--extended {
  float: left;

  .nav__level-2__categories {
    position: absolute;
    top: 0;

    @include respond-to($mq-m) {
      position: relative;
      min-height: 21rem;

      /* non-FlexBox compliant -- */
      display: block; //  table-row;
      /* -- non-FlexBox compliant */
    }
  }

  .nav__level-2__category {
    margin-bottom: 0;

    @include respond-to($mq-m) {
      width: 1 / $num-extended-level * 100%;
      clear: left;
      padding: 0;
      position: static;

      /* non-FlexBox compliant -- */
      display: list-item; // table-cell;
      /* -- non-FlexBox compliant */

      &:before {
        content: none;
      }
    }
  }

  .nav__level-2__category__heading {
    @include respond-to($mq-m) {
      padding-top: $baseline-unit * 2;

      /* uninitialised -- */
      .uninitialised &:hover {
        background: $grey-lightest;

        + .nav__level-3 {
          display: block
        }
      }
      /* -- uninitialised */
    }
  }
}

.nav__level-2__category:nth-last-child(2) {
  border-bottom: none;
}

.nav__level-2__category__heading {
  position: relative;
  display: block;
  color: $primary-orange;

  @include respond-to($mq-m) {
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    border: 0;

    &.is-active {
      background: $grey-lightest;
    }
  }
}

.nav__level-2__category__heading__text,
.nav__level-3__category__heading,
.nav__level-3__subcategory__text,
.nav__level-3__heading__text {
  display: block;
  padding-bottom: $baseline-unit * 2;
  border-bottom: solid 1px;
}

.nav__level-2__category__heading__text {
  padding-right: calc(#{$chevron-size * $chevron-ratio} + #{$default-gutter * 2});

  @include respond-to($mq-m) {
    padding-right: calc(#{$chevron-size * $chevron-ratio} + #{$default-gutter * 8});
  }

  &:after {
    @include chevron(right, $primary-orange);

    display: block;
    position: absolute;
    top: 50%;
    right: $default-gutter;
    transform: translateY(-$chevron-size * 2);

    @include respond-to($mq-m) {
      right: $default-gutter * 4;
      transform: translateY(-$chevron-size * 1);
    }
  }
}

.nav__level-2__subcategories {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: $baseline-unit * 2;

  @include respond-to($mq-m) {
    font-size: 1rem;
    line-height: 1.2;
  }
}

.nav__level-2__subcategory {
  margin-bottom: $baseline-unit * 2;

  &:last-child {
    margin-bottom: 0;
  }
}

/* FlexBox compliant -- */
.flexbox {
  @include respond-to($mq-m) {
    .nav__level-2 {
      display: block;
    }

    .nav__level-2__categories {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .nav__level-2--extended {
     .nav__level-2__categories {
        display: block;
      }
    }

    .nav__level-2__category {
      display: block;
      flex-grow: 1;

      @include respond-to($mq-m) {
        max-width: calc((#{gridsystem-width()} - (#{$default-gutter} * 4)  - 2px) / 3);
      }
    }
  }
}
/* -- FlexBox compliant */
