// nav global variables
$nav-transition-duration: 300ms;
$nav-transition-ease: ease-out;
$max-cols: 4; // the maximum number of categories in the subnav
$num-elements: 5; // the number of top level links
$num-extended-level: 4; // grid for extended level 2 layout
$chevron-size: 0.375rem;
$chevron-ratio: 1.5;

@mixin chevron($direction, $colour) {
  content: "";
  border: $chevron-size solid transparent;

  @if $direction == right {
    border-left-color: $colour;
    border-left-width: $chevron-size * $chevron-ratio;
    border-right: none;
  } @else if $direction == down {
    border-top-color: $colour;
    border-top-width: $chevron-size * $chevron-ratio;
    border-bottom: none;
  } @else if $direction == left {
    border-right-color: $colour;
    border-right-width: $chevron-size * $chevron-ratio;
    border-left: none;
  }
}

.nav {
  // probably should be in base styles --
  & *,
  &:after *,
  &:before * {
    box-sizing: border-box;
  }
  // -- probably should be in base styles

  // temporarily over-ride the external link icon --
  a:not([href*="fincap.org.uk"]):after {
    background-image: none;
    width: 0;
    height: 0;
  }
  // -- temporarily over-ride the external link icon

  transition: transform $nav-transition-duration $nav-transition-ease;
  position: fixed;
  overflow-x: hidden;
  z-index: 10;
  width: 85%;
  transform: translateX(-100%);
  background: $grey-lighter;
  height: 100%;

  &.no-transition {
    transition: none;
  }

  @include respond-to($mq-m) {
    transition: none;
    position: relative;
    transform: none;
    width: 100%;
    overflow-x: visible;
    border: 0;
    background: $primary-blue-dark;

    /* non-FlexBox compliant -- */
    display: table;
    height: 100%;
    /* -- non-FlexBox compliant */
  }

  &.is-active {
    transform: translateX(0%);
  }
}

.nav__level-1 {
  box-sizing: border-box;
  transition: transform $nav-transition-duration $nav-transition-ease;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  transform: translateX(0%);
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;

  @include respond-to($mq-m) {
    @include column(12);

    transition: none;
    transform: none;
    position: static;
    background: transparent;
    display: inline-block;
    padding: 0;

    /* non-FlexBox compliant -- */
    display: table-row;
    /* -- non-FlexBox compliant */
  }

  &.is-active {
    transform: translateX(-100%);

    @include respond-to($mq-m) {
      transform: none;
    }
  }

  &.is-open {
    transform: translateX(-200%);

    @include respond-to($mq-m) {
      transform: none;
    }
  }
}

.nav__level-1__element {
  position: static;
  margin: 0;
  line-height: 1;
  color: $color-white;
  background: $primary-blue-dark;

  @include respond-to($mq-m) {
    border-bottom: 0;
    background: transparent;
    margin-top: $baseline-unit / 2;
    vertical-align: middle;

    /* uninitialised -- */
    .uninitialised & {
      vertical-align: bottom;
    }
    /* -- uninitialised */

    /* non-FlexBox compliant -- */
    display: table-cell;
    width: 100% / ($num-elements + 1);
    /* -- non-FlexBox compliant */
  }

  &.is-active {
    .nav__level-1__element__heading {
      color: $primary-orange;
    }

    .nav__level-1__element__text {
      color: inherit;

      &:after {
        @include chevron(down, $primary-orange);
      }
    }

    .nav__level-2 {
      visibility: visible;
      transition-delay: 0s;

      @include respond-to($mq-m) {
        display: block;
        transform: none;
      }
    }

    @include respond-to($mq-m) {
      background: $color-white;
    }
  }
}

.nav__search-bar {
  background: none;
  display: none;

  input {
    padding-top: $baseline-unit / 2;
    padding-bottom: $baseline-unit / 2;
  }

  @include respond-to($mq-m) {
    vertical-align: middle;

    /* non-FlexBox compliant -- */
    display: table-cell;
    /* -- non-FlexBox compliant */
  }
}

.touch {
  .nav__level-1__element {
    &:hover {
      background: transparent;
    }

    &.is-active {
      background: $color-white;
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.nav__level-1__element__heading {
  @include column(12);

  display: inline-block;
  float: none;
  line-height: 25px;
  background: transparent;
  text-align: left;
  position: relative;
  border-top: 1px solid $color-white;
  line-height: 1.2;
  padding: $baseline-unit * 2 0;

  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: 3px solid $color-black;
  }

  &:hover,
  &:focus,
  &:visited {
    color: $color-black;
  }

  @include respond-to($mq-m) {
    &:focus {
      background: none;
    }

    .is-active &:focus {
      background: $color-white;
    }

    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 0;
    border-top: none;
  }
}

.nav__level-1__element:first-child {
  .nav__level-1__element__heading {
    border-top: none;
    margin-top: $baseline-unit * 2;

    @include respond-to($mq-m) {
      margin-top: 0;
    }
  }
}

.nav__level-1__element:nth-last-child(3) {
  .nav__level-1__element__heading {
    margin-bottom: $baseline-unit * 2;

    @include respond-to($mq-m) {
      margin-bottom: 0;
    }
  }
}

.nav__level-1__element__text {
  display: inline-block;
  pointer-events: none;
  color: $color-white;
  padding-right: calc(#{$chevron-size * $chevron-ratio} + #{$default-gutter * 2});

  &:after {
    @include chevron(right, $color-white);

    display: block;
    position: absolute;
    top: 50%;
    right: $default-gutter;
    transform: translateY(-$chevron-size);
  }

  @include respond-to($mq-m) {
    display: block;
    padding: $baseline-unit * 2 0.625rem;
    width: auto;

    &:after {
      @include chevron(down, $color-white);

      display: inline-block;
      position: static;
      margin-left: 0.5rem;
      transform: none;
    }
  }
}

.nav__close-button {
  @include respond-to($mq-m) {
    display: none;
  }

  &:focus {
    outline: 3px solid $color-black;
  }
}

.nav__close-button__text {
  display: inline-block;
  line-height: 12px;
  padding:  $baseline-unit * 2 0;
  margin-right: $default-gutter * 1;
  float: right;
}

.nav__close-button__icon {
  width: 12px;
  height: 12px;
}

.mobile-nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $color-black;
  opacity: 0.5;
  display: none;
  z-index: 5;

  &.is-active {
    display: block;
  }
}

/* FlexBox compliant -- */
.flexbox {
  @include respond-to($mq-m) {
    .nav {
      display: block;
      height: auto;
    }

    .nav__level-1 {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
    }

    .nav__level-1__element {
      display: inline-flex;
      width: auto;
      flex-grow: 1;
      flex-shrink: 1;   // IE10 fix
    }

    .nav__search-bar {
      display: inline-flex;
      flex-grow: 2;
      padding-left: 0.625rem;

      .search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
      }
    }

    .nav__level-1__element__heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
/* -- FlexBox compliant */
