<div class="evidence-hub__contact_information">
  <h5 class="sidepanel__subtitle">
    <%= evidence_summary.contact_information_field_name %>
  </h5>

  <%= evidence_summary.contact_information.html_safe %>
</div>
