<ul class="evidence-types">
  <% evidence_summary.data_type_keys.each do |data_type| %>
    <li class="evidence-types__item data-types__<%= "#{data_type.parameterize}" %>">
    	<div class="tooltip" data-dough-component="Tooltip" role="tooltip">
		    <button class="tooltip__trigger" data-tooltip-button aria-describedby="<%= data_type %>">
		      <%= render 'shared/evidence_types',
                 icon: evidence_summary.data_type_icon(data_type),
                 text: data_type %>
		    </button>
		    <div class="tooltip__content js-is-hidden" data-tooltip-content id="<%= data_type %>">
		      <p>Tooltip content goes here</p>
		    </div>
		  </div>
    </li>
  <% end %>
</ul>
