<div class="evidence-hub__year_of_publication">
  <h5 class="sidepanel__subtitle">
    <%= evidence_summary.year_of_publication_field_name %>
  </h5>
  <%= evidence_summary.stripped_year_of_publication %>
</div>
