<% present(@evidence_summary) do |evidence_summary| %>
  <div class="l-constrained">
    <div class="row">
      <%= render 'evidence_hub_hero',
                 evidence_type_name: evidence_summary.evidence_type.downcase %>
    </div>

    <div class="row">
      <div class="l-2col">
        <div class="body-content l-2col-main">
          <%= render 'content', evidence_summary: evidence_summary %>
        </div>
        <div class="l-2col-side">
          <%= render 'sidepanel', evidence_summary: evidence_summary %>
        </div>
      </div>
    </div>
  </div>
<% end %>
