.btn {
  @extend %border-radius;
  border: 0;
  cursor: pointer;
  padding: $baseline-unit $baseline-unit*2;
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;

  @include respond-to($mq-m) {
    width: auto;
  }

  &:visited {
    color: $color-white;
  }

  &:hover {
    text-decoration: none;
  }
}

.btn--primary {
  background-color: $primary-blue-dark;
  color: $color-white;
}
