.btn {
  @include body(12, 24);
  @extend %border-radius;
  border: 0;
  cursor: pointer;
  margin: $baseline-unit 0;
  padding: $baseline-unit $baseline-unit*2;
  font-size: 1rem;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  color: $color-white;

  @include respond-to($mq-m) {
    display: inline-block;
  }

  &:visited {
    color: $color-white;
  }

  &:hover {
    text-decoration: none;
  }
}

// Form buttons require additional styles

button.btn {
  @extend .btn;
  font-family: "Museo Rounded";
  width: 100%;

  @include respond-to($mq-m) {
    width: auto;
  }
}

.btn--primary {
  background-color: $primary-blue-dark;
}

.btn--secondary {
  background-color: $primary-green-pale;
}

// Colour variants

.btn--yellow {
  background-color: $primary-yellow;
}

.btn--orange {
  background-color: $primary-orange;
}

.btn--blue {
  background-color: $primary-blue;
}

.btn--purple {
  background-color: $primary-purple;
}
