.footer {
  @include column(12);
  @extend %clearfix;
  margin-top: $baseline-spacing;
  background: transparent image_url('footer/footer-bg.png') no-repeat left top;
  background-size: cover;

  @include respond-to($mq-m) {
    background-position: right top;
  }
}

.footer__content {
  padding: $baseline-spacing;
}

.footer__search {
  @include column(12);
  position: relative;

  @include respond-to($mq-m) {
    @include column(8);
  }
}

.footer__social {
  @include respond-to($mq-m) {
    @include column(4);
  }
}

.footer__social-title {
  @include body(22, 28);
  color: $color-white;
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-list-link {
  color: $color-white;
  vertical-align: 14px;
  padding-left: $baseline-unit;

  &:visited {
    color: $color-white;
  }

  // Use a white icon for the external link
  &[href^="http:"]:not([href*="#{$site}"]):after,
  &[href^="https:"]:not([href*="#{$site}"]):after {
    @extend %icon;
    @extend .icon--external-link--white;
  }
}

// Footer contact
.footer__box {
  @include respond-to($mq-m) {
    @include column(4);
    float: right;
  }
}

.footer__box-title {
  @include body(20, 24);
  margin-top: 0;
}

.footer__box-inner {
  background-color: $color-blue-lighter;
  padding: $baseline-spacing;
}

// Footer menu
.footer__menu {
  @include column(12);
  float: left;
  background-color: $primary-blue-dark;
  border-top: 1px solid $color-white;
  list-style: none;
  margin: $baseline-unit*2 0 0;
  padding: $baseline-unit 0;

  @include respond-to($mq-m) {
    padding: $baseline-unit $baseline-unit*2;
  }
}

.footer__menu-item {
  display: block;

  @include respond-to($mq-m) {
    display: inline-block;
  }
}

.footer__menu-item--right {
  float: right;
}

.footer__menu-link {
  color: $color-white;
  display: block;
  padding: $baseline-unit;

  &:visited {
    color: $color-white;
  }

  &:after {
    display: none !important;
  }
}

.sfgb-logo__img {
  width: 33px;
  margin-left: 5px;
}

.footer__sfgb-text {
  display: inline-block;
  line-height: 1;
  & > * {
    display: block;
  }
}

.footer__copyright {
  margin: 0;
  line-height: 1.2rem;
  color: $color-white;
  font-size: 0.8rem;
}
