%icon {
  // prevent IE8 from breaking when extending .icon into a :before it doesn't understand
  background-image: image_url('icon-sprite.png');
  background-repeat: no-repeat;
  @include inline-block;
}

.icon {
  background-image: image_url('icon-sprite.png');
  background-repeat: no-repeat;
  @include inline-block;
}

.icon--external-link {
  background-position: 0px 3px;
  width: 16px;
  height: 18px;
}

.icon--external-link--white {
  background-position: 0px -15px;
  width: 16px;
  height: 18px;
}

.icon--arrow {
  background-position: -15px 2px;
  width: 18px;
  height: 18px;
}

.icon--search {
  background-position: -32px 1px;
  width: 25px;
  height: 25px;
}

.icon--info {
  display: inline-block;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  color: $color-white;
  background: $primary-blue-dark;
  vertical-align: middle;
  margin-left: $baseline-unit;
  font-weight: 500;

  &:visited {
    color: $color-white;
  }

  &:hover {
    background: lighten($primary-blue-dark, 30%);
    text-decoration: none;
  }
}

// SVG's

.svg-icon--latest-news {
  width: 40px;
  height: 40px;
  fill: $primary-orange;
}

.svg-icon--download {
  width: 40px;
  height: 40px;
  fill: $color-white;
}

.svg-icon--speech {
  width: 40px;
  height: 40px;
  fill: $color-white;
}

// Social Media

.svg-icon--twitter {
  width: 40px;
  height: 40px;
}

.svg-icon--youtube {
  width: 40px;
  height: 40px;
}

.svg-icon--linkedin {
  width: 40px;
  height: 40px;
}

.svg-icon--country {
  width: 30px;
  height: 40px;
}
