%icon {
  // prevent IE8 from breaking when extending .icon into a :before it doesn't understand
  background-image: image_url('icon-sprite.png');
  background-repeat: no-repeat;
  @include inline-block;
}

.icon {
  background-image: image_url('icon-sprite.png');
  background-repeat: no-repeat;
  @include inline-block;
}

.icon--external-link {
  background-position: 0px 3px;
  width: 16px;
  height: 18px;
}

.icon--external-link--white {
  background-position: 0px -15px;
  width: 16px;
  height: 18px;
}

.icon--arrow {
  background-position: -15px 2px;
  width: 18px;
  height: 18px;
}

.icon--search {
  background-position: -32px 1px;
  width: 25px;
  height: 25px;
}

// SVG's

.svg-icon--latest-news {
  width: 40px;
  height: 40px;
  fill: $primary-orange;
}

.svg-icon--download {
  width: 40px;
  height: 40px;
  fill: $color-white;
}

.svg-icon--speech {
  width: 40px;
  height: 40px;
  fill: $color-white;
}

// Social Media

.svg-icon--twitter {
  width: 40px;
  height: 40px;
}

.svg-icon--youtube {
  width: 40px;
  height: 40px;
}

.svg-icon--linkedin {
  width: 40px;
  height: 40px;
}
