$chevron-ratio: 1.5;

@mixin chevron($direction, $colour, $size: 0.375rem) {
  content: "";
  border: $size solid transparent;

  @if $direction == right {
    border-left-color: $colour;
    border-left-width: $size * $chevron-ratio;
    border-right: none;
  } @else if $direction == down {
    border-top-color: $colour;
    border-top-width: $size * $chevron-ratio;
    border-bottom: none;
  } @else if $direction == left {
    border-right-color: $colour;
    border-right-width: $size * $chevron-ratio;
    border-left: none;
  }
}

$size: 5px;
$circleSize: 17px;
.icon--arrow {
  position: relative;
  padding-right: 20px;

  &:before, 
  &:after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &:before {
    content: '';
    background-color: $primary-blue-dark;
    border-radius: 50%;
    width: $circleSize;
    height: $circleSize;
  }
  &:after {
    @include chevron(right, $color-white, $size);
    transform: translate(-3px, -5px);
  }
}

%icon {
  // prevent IE8 from breaking when extending .icon into a :before it doesn't understand
  background-image: image_url('icon-sprite.png');
  background-repeat: no-repeat;
  @include inline-block;
}

.icon {
  background-image: image_url('icon-sprite.png');
  background-repeat: no-repeat;
  @include inline-block;
}

.icon--external-link {
  background-position: 0px 3px;
  width: 16px;
  height: 18px;
}

.icon--external-link--white {
  background-position: 0px -15px;
  width: 16px;
  height: 18px;
}

.icon--search {
  background-position: -32px 1px;
  width: 25px;
  height: 25px;
}

.icon--info {
  display: inline-block;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  color: $color-white;
  background: $primary-blue-dark;
  vertical-align: middle;
  margin-left: $baseline-unit;
  font-weight: 500;
  
  &:visited {
    color: $color-white;
  }
  
  &:hover {
    background: lighten($primary-blue-dark, 30%);
    text-decoration: none;
  }
}

// SVG's

.svg-icon--latest-news {
  width: 40px;
  height: 40px;
  fill: $primary-orange;
}

.svg-icon--download {
  width: 40px;
  height: 40px;
  fill: $color-white;
}

.svg-icon--speech {
  width: 40px;
  height: 40px;
  fill: $color-white;
}

// Social Media

.svg-icon--twitter {
  width: 40px;
  height: 40px;
}

.svg-icon--youtube {
  width: 40px;
  height: 40px;
}

.svg-icon--linkedin {
  width: 40px;
  height: 40px;
}

.svg-icon--country {
  width: 30px;
  height: 40px;
}
