.list {
  list-style: none;

  li {
    &::before {
      content: "•"; 
      color: $primary-blue-dark;
      display: inline-block; width: 1em;
      margin-left: -1em
    }
  }
}

.list--links {
  margin: $baseline-unit 0;
  padding: 0;

  li {
    position: relative;

    &::before {
      display: none;
    }

    &:after {
      @extend %icon;
      @extend .icon--arrow;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  a {
    display: block;
  }
}

.list--grouped-cta {
  @include body(16, 22);
  margin: $baseline-unit 0;
  padding: 0;

  li {
    margin-top: $baseline-unit;

    &::before {
      display: none;
    }
  }

  a {
    display: block;
    padding: $baseline-unit;
    color: $color-black;
    text-align: center;
    border: 2px solid $primary-orange;
    border-radius: $border-radius;
    position: relative;

    &:hover {
      border-color: $primary-blue-dark;
    }

    &:after {
      content: '';
      position: absolute;
      right: $baseline-unit;
      top: $baseline-unit;
      @extend %icon;
      @extend .icon--arrow;
    }
  }
}

.list--numbered {
  counter-reset: list-numbered-counter;

  .list--numbered__title {
    font-weight: 500;
  
    &:before {
      @include body(20, 24);
      content: counter(list-numbered-counter);
      counter-increment: list-numbered-counter;
      background-color: $primary-green-pale;
      color: $color-white;
      padding: $baseline-unit*2;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      font-weight: 500;
    }
  }
  
  .list--numbered__content {
    margin-left: $baseline-unit*9;
    margin-bottom: $baseline-unit*2;
  }
}

.list--countries {
  padding: 0;

  .list--countries-item {
    position: relative;

    &:before {
      display: none;
    }
  }

  .list--countries-icon {
    margin-right: $baseline-unit;
  }

  .list--countries-link {
    vertical-align: $baseline-unit*2;

    &:after {
      @extend %icon;
      @extend .icon--arrow;
      content: '';
      position: absolute;
      right: 0;
      top: $baseline-unit*2;
    }
  }
}

.list--lettered {
  margin: 0;
  padding: 0;
  position: relative;

  .list--lettered-item {
    @extend %clearfix;
    list-style: none;
    padding-bottom: $baseline-unit*4;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      border-left: 4px dotted $primary-yellow;
      left: $baseline-unit*6;
      top: 0;
      bottom: 0;
      height: auto;
    }

    &:last-of-type:before {
      border: none;
    }
  }

  .list--lettered-item__letter {
    @include body(24, 48);
    width: 45px;
    height: 45px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50%;
    text-align: center;
    background-color: $primary-yellow;
    color: $color-black;
    position: absolute;
    z-index: 9;
  }
  
  .list--lettered-item__content {
    padding-left: $baseline-unit*10;
  }
  
  .list--lettered-item__inner-content {
    margin: 0;
  }
}
