<%= render 'shared/evidence_hub_hero', type: 'Insight' %>

<div class="l-constrained">
  <div class="l-2col">
    <div class="l-2col-main">
    </div>
    <div class="l-2col-side">
    </div>
  </div>
</div>
