<h4 class="sidepanel__title">Filter your search</h4>

<h5 class="sidepanel__subtitle">Year of Publication</h5>
<%= render 'radio_buttons', f: f, form_object: search_form, field: :years_of_publication %>

<h5 class="sidepanel__subtitle">Client group</h5>
<%= render 'checkboxes', f: f, form_object: search_form, field: :client_groups %>

<h5 class="sidepanel__subtitle">Topic</h5>
<%= render 'checkboxes', f: f, form_object: search_form, field: :topics %>

<h5 class="sidepanel__subtitle">Country of delivery</h5>
<%= render 'checkboxes', f: f, form_object: search_form, field: :countries_of_delivery %>
