<li class="nav__level-2__heading">
  <%= link_to(
    '#',
    {
      'data-nav-level-2-heading': true,
      'tabindex': -1
    }) do %>
    <span class="nav__level-2__heading__text"><%= raw text %></span>
  <% end %>
</li>
