<%= link_to(
  '#',
  {
    'data-nav-level-1-heading': true,
    'class': 'nav__level-1__element__heading',
    'role': 'menuitem',
    'aria-haspopup': true,
    'aria-expanded': false,
    'tabindex': 0
  }) do %>
  <span class="nav__level-1__element__text"><%= raw text %></span>
<% end %>
