// Layout 3 columns
//
// Styleguide layout-3col
.l-3col {
  @extend %clearfix;
}

.l-3col-even {
  @extend %clearfix;
  @include column(12);

  @include respond-to($mq-m) {
    @include column(4, 3);
  }
}

.l-3col-flex {
  @include respond-to($mq-m) {
    display: flex;
    .l-3col-equal {
      display: flex;
    }
    .bordered-box {
      display: flex;
      flex-direction: column;
    }
    .bordered-box__inner {
      flex: 1 1 auto;
    }
  }
}
